.ggg{
	text-align: center;
}
.gggh{
	text-align: center;
}
.div2{
	width: 100px;
	height: 100px;
	margin-left: 150px;
	margin-top: 50px;
}
.div3{
	width: 800px;
	margin: auto;
}
.div5{
	width: 100px;
	height: 100px;
	margin-left: 335px;
	margin-top: 50px;
	float: left;
}
.div7{
	width: 100px;
	height: 100px;
	margin-left: 335px;
	margin-top: 50px;
	float: left;
}
.div8{
	width: 150px;
	height: 150px;
	float: left;
}
.div9{
	width: 100px;
	height: 50px;
	text-align: center;
	margin-left: 150px;
}
.div11{
	width: 100px;
	height: 50px;
	text-align: center;
	margin-left: 450px;
}
.div13{
	width: 100px;
	height: 50px;
	text-align: center;
	margin-left: 900px;
}